body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto; /*потрібно ставити для нормального відображення фото, фото строчний елемент */
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}
/* container */
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}